html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}
nav{
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(238, 181, 92);
}
ul{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul li.title{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
ul li.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
ul li a{
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: solid 3px rgb(224, 149, 35);
    width: 180px;
    padding: 10px 10px;
    font-size: 20px;
    color: white;
}
ul li a:hover{
    border-bottom: solid 3px rgb(172, 122, 45);
}
section.header{
    padding-top: 60px;
}

.container {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
h1{
    padding: 0;
    font-size: 30px;
}
canvas{
    margin: 0 auto;
}
button{
    width: 100%;
    height: 40px;
    background-color: rgb(92,222,238);
    cursor: pointer;
    box-shadow:2px 2px 2px #555;
}
button:hover{
    background-color: rgb(67, 180, 194);
}
form{
    padding: 0 auto;
}

@media screen and (min-width: 1000px){
    .grid{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
